<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta name="author" content="LNCM Rodin">
    <link rel="shortcut icon"  href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Скачать</title>
    <style type="text/css">
        #content {
            margin: 100px auto 0;
            max-width: 800px;
        }
        #form {
            border: 1px solid #dddddd;
            padding: 18px 25px;
            border-radius: 6px;
            margin-bottom: 25px;
        }
        p { font-size: initial }
        p span { font-size: larger }
    </style>
</head>
<body>
<div class="header">
    <div class="logo"><a class="logo-icon" href="/index.php" title="ЛЕННИИХИММАШ"></a></div>
    <div class="menu">
        <div class="info" style="line-height: inherit">СИСТЕМА ОБМЕНА ФАЙЛАМИ С ВНЕШНИМИ КОНТРАГЕНТАМИ</div>
    </div>
</div>
<div id="content">
<div id="form">
    <p><span>Файл не найден!</span></p>
    <p>Возможно истек срок размещения</p>
</div>
</div>
</body>
</html>