<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <meta name="author" content="LNCM Rodin">
  <link rel="shortcut icon"  href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Redirect</title>
</head>
<body>
Redirect to <a href="{% href %}">{% href %}</a>
<script type="text/javascript">
  window.location.href = "{% href %}"
</script>
</body>
</html>